$control-accent-color-focused: #347CFF;
$control-accent-color-default: rgba(0, 0, 0, 0.3);
$blue-text: #2962FF;
$input-label-color: rgba(0, 0, 0, 0.4);
$body-color: #E5E5E5;
$input-button-color: rgba(0, 0, 0, 0.54);
$input-button-color-selected: rgba(0, 0, 0, 0.54);

