:host {
  border-bottom: 1px solid #A5A5A5;
  width: 100%;

  &:hover {
    //background: #eee;
  }
  &.selected {
    background: #49a6af;
    color: #fff;
  }
}

.list-item {
  padding: 40px 0 30px;
}
.item__header, .item__body {
  display: flex;
  align-items: center;
}

.item__header {
  margin-bottom: 29px;
  color: rgba(0, 0, 0, 0.87);

  .item-header__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
  }
  .item-header__icon {
    margin-left: 23px;
    cursor: pointer;
  }
}

.item-body__block {
  margin-left: 100px;
  min-width: 33%;
  &:first-child {
    margin-left: 0;
  }
}
