<div class="list-item" *ngIf="item">
  <div class="item__header" (click)="onClicked()">
    <span class="item-header__text">{{item.data.title}}</span>
    <span class="item-header__icon" icon-arrow></span>
  </div>
  <div class="item__body">
    <ng-container *ngFor="let field of item.fields">
      <div item-body *ngIf="field.field !== 'title'">
        <span key>{{field.header}}</span>
        <span value (click)="onFieldClicked(field)">{{field.value}}</span>
      </div>
    </ng-container>
  </div>
</div>
