<ng-container *ngIf="componentReady">
  <div class="page-header">
    <a m-button (click)="close()" class="btn-close">
      Вернуться
      <span m-icon mPrefix>
        <span class="icon-details" icon-arrow></span>
      </span>
    </a>
  </div>
  <div class="page-body scrollable">
    <form *ngIf="form && goodIn" [formGroup]="form" class="form section">
      <h2 [classList]="'f-control control-name'" [minHeight]="'initial'" [lockEnter]="true" inputDirective
          formControlName="name"
          (onEnter)="save()"
          [placeholder]="namePlaceholder"></h2>

      <div class="detail-fields">
        <div item-body>
          <span key>Director</span>
          <span value>{{directors}}</span>
        </div>
        <div item-body>
          <span key>Species</span>
          <span value>{{species}}</span>
        </div>
        <div item-body>
          <span key>Created At</span>
          <span value>{{this.goodIn.createdAt}}</span>
        </div>
      </div>
    </form>
  </div>
  <div class="page-footer">
    <button m-button class="m-btn--submit" (click)="save()">Save</button>
    <button m-button class="m-btn--danger" *ngIf="!isNew" (click)="delete()">Delete</button>
  </div>
</ng-container>
