:host {
  height: inherit;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.page-body {
  height: 100%;
}
h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.87);
}
pre {
  margin: 0;
}
.page-footer {
  padding: 15px 10px 0;
}
.form {
  border-bottom: 1px solid #efefef;

  ::ng-deep {
    .control-placeholder {
      position: absolute;
    }
    .control-name .control-placeholder {
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;
      color: rgba(0, 0, 0, 0.87);

      //margin: 10px 0 15px;
    }
    .f-control {
      padding: 5px 10px 0;
      margin-bottom: 10px;
      //border: 1px solid #efefef;
    }
    .control-description, .control-description * {
      font-size: 14px;
      line-height: 20px;
      font-family: sans-serif;
      padding-top: 8px;
    }
  }
}

.page-header {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.btn-close {
  color: #2962FF;
}

.icon-details {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  :host {
    position: relative;
    top: 0;
    left: 0;
  }
}
