.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding: 15px 10px;
  flex-wrap: wrap;
}

.sort {
  padding: 0 10px;
  margin: 0 -5px 10px;

  & > * {
    padding: 0 5px;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}


h1  {
  margin: 0;
  width: 100%;
  @media screen and (min-width: 1024px){
    width: auto;
  }
}
:host {
  padding: 0 10px;
}
