<section>
  <div *ngIf="listName" class="list-header">
    <h1>{{listName}}</h1>
    <input *ngIf="config.searchable" type="search" [(ngModel)]="searchText">
    <ng-content></ng-content>
  </div>
  <div class="sort" *ngIf="config.sortable && config.listDescription.length">
    <select name="sort" #sort id="sort" (change)="sortBy(sort.value, sortWay)">
      <option *ngFor="let description of config.listDescription" value="{{description.field}}" >{{description.header}}</option>
    </select>
    <button (click)="sortBy(selectedField, sortWay)">
      <span *ngIf="sortWay === SORT_WAY.DEC">&darr;</span>
      <span *ngIf="sortWay === SORT_WAY.INC">&uarr;</span>
    </button>
  </div>
  <ng-container *ngIf="groupedList.list.length; else emptyData">
    <div class="list-group" *ngFor="let groupItem of groupedList.list">
      <h3>{{groupItem.name}}</h3>
      <div class="list">
        <ng-container *ngFor="let item of groupItem.list | appFilter: searchText">
          <ng-container
            [ngTemplateOutlet]="customTemplate || defaultTemplate"
            [ngTemplateOutletContext]="{item: item, context: this}"></ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</section>

<ng-template #defaultTemplate let-item='item' let-context="context">
  <app-base-list-item
    [item]="item"
    [selectable]="context.selectable"
    [selected]="item.selected"
    [editable]="!!config.editableItem"
    (contentChanged)="context.onContentChanged($event)"
    (clicked)="context.onItemClicked(item)"></app-base-list-item>
</ng-template>


<ng-template #emptyData>
  <div app-empty-message>No data to display</div>
</ng-template>
